<div *ngIf="visible">
  <div class="modal-overlay" (click)="closeModal()"></div>
  <div
    class="modal"
    [ngStyle]="{
      'width.px': selectedTable.width,
      'height.px': selectedTable.height
    }"
    [ngClass]="selectedTable.modalClass"
  >
    <div class="modal-header">
      <h3>{{ selectedTable.title }}</h3>
      <span class="close-btn" (click)="closeModal()"
        ><i class="fa fa-close"></i
      ></span>
    </div>
    <div class="modal-content">
      <div class="search-bar" *ngIf="selectedTable.searchEnabled">
        <i class="fa fa-search" style="color:lightgrey"></i>
        <input
          class="form-control"
          type="text"
          name="search"
          autocomplete="off"
        />
      </div>
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of selectedTable.columns">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td *ngFor="let data of selectedTable.columns">
              {{ row[formatKey(data)] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="modal-footer"
      *ngIf="buttons.length && selectedTable.footerButtons"
    >
      <button
        *ngFor="let button of buttons"
        [style.background-color]="button.color"
        (click)="handleButtonClick(button.text)"
      >
        {{ button.text }}
      </button>
    </div>
  </div>
</div>
